*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(./Assets/Images/Bgc\ image.jpg);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: #000000;
}