*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* font-family: 'Martel Sans', sans-serif; 
font-family: 'Poppins', sans-serif; */
#main {
    background-image: url(./Assets/Images/bg.jpg);
    background-position: center center;
    background-size: max(1300px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

#main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
}

#nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
#nav img{
    width: 114px;
    color: red;
    position: relative;
    z-index: 10;
}
#nav button{
    position: relative;
    z-index: 10;
}

.hero{
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 25px;
    padding: 0px 30px;
}
.hero> :nth-child(1){
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.seperation{
    height: 11px;
    background-color: rgb(208, 208, 208);
}